@use "../utils" as *;

.header__wrapper {
  width: 100%;
  height: 100vh;
  color: $white;
}

.header {
  padding: 1.5rem 1rem 0 0;
  justify-content: space-between;
  align-items: center;

  @include lg {
    padding: 3rem 1rem 0 4rem;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1rem 1rem 0;
    z-index: 1000;
  }

  &__logo {
    display: block;
    width: 10rem;
    height: 2.5rem;
    object-fit: contain;
  }

  &__menu {
    display: block;
    cursor: pointer;

    @include lg {
      display: none;
    }

    i {
      font-size: 2rem;
      margin-right: 0.5rem;

      &.icon-menu {
        display: block;
      }

      &.icon-cross {
        display: none;
      }
    }

    &.menu-open {
      i.icon-menu {
        display: none;
      }

      i.icon-cross {
        position: absolute;
        display: block;
        z-index: 10;
        top: 2rem;
        right: 2rem;
      }
    }
  }

  &__nav {
    ul {
      display: none;
      margin-right: 3rem;

      @include lg {
        display: flex;
      }

      li {
        @include custom-gap(4rem);
      }

      a {
        color: $white;
        font-size: 0.9rem;
        position: relative;

        &:hover::after {
          @include menu-border;
        }
      }
    }

    &.menu-open {
      --h-bg-btn: 199;
      @extend .justify-center;

      position: absolute;
      display: flex;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: hsl(var(--h-bg-btn), var(--s-bg-btn), var(--l-bg-btn));

      ul {
        @extend .flex-center;

        display: flex;
        margin: 0;

        li {
          animation: fadeIn cubic-bezier(0.3, 0, 0.49, 1) 850ms forwards;
        }

        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.header__wrapper,
.header.sticky {
  @include header-gradient;
}
