@use "../utils" as *;

.section {
  padding: 2.5rem 1.5rem;

  @include lg {
    padding: 5rem 1rem;
  }

  &__content__wrapper {
    max-width: $content-max-width;
    margin: 0 auto;
  }

  &__content {
    @extend .flex-container;
  }

  &__image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    @include lg {
      max-width: 30rem;
      height: 23rem;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $text-primary;
    font-weight: 500;
    line-height: 3.5rem;
    margin: 1rem 0 1.5rem;

    strong {
      --h-bg-btn: 199;
      color: hsl(var(--h-bg-btn), var(--s-bg-btn), var(--l-bg-btn));
      font-weight: normal;
    }
  }

  &__text {
    @extend .text-secondary;

    line-height: 2rem;
    margin-bottom: 2.5rem;
  }

  .right {
    margin: 4rem 0 0 0;

    @include lg {
      margin: 0 0 0 4rem;
    }
  }

  .left {
    text-align: center;

    @include lg {
      width: 50%;
      text-align: left;
    }
  }
}

.section-col .section {
  &__content {
    @extend .flex-col;

    align-items: center;
    justify-content: space-between;
  }

  &__title,
  &__text {
    text-align: center;

    @include lg {
      width: 50%;
    }
  }
}

.section.about .section__image {
  @include lg {
    width: 33rem;
    height: 15rem;
  }
}

.section.stats {
  background-color: $stats-bg-color;
}

.section.testimonials {
  background-color: $testimonials-bg-color;
}

.section.stats,
.section.testimonials {
  .section__title,
  .section__text {
    color: $white;
  }
}
