@use "mixins" as *;
@use "theme" as *;

.text-secondary {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: $text-secondary;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-container {
  @extend .flex-col;

  @include lg {
    flex-direction: row;
  }
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.size-full {
  width: 100%;
  height: 100%;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
