@use "theme" as *;

/*@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $lg) {
    flex-direction: row;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: column;

  @media (min-width: $lg) {
    flex-direction: row;
  }
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*@mixin secondary-text($font-size: 1rem) {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  color: $text-secondary;
}*/

@mixin menu-border {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  --h-bg-btn: 295;
  background-color: hsl(var(--h-bg-btn), var(--s-bg-btn), var(--l-bg-btn));
  bottom: -0.3rem;
  left: 0;
}

@mixin header-gradient {
  background-image: linear-gradient(65deg, #3264f5, #7004bc);
}

@mixin custom-gap($gap) {
  &:not(:last-of-type) {
    margin: 0 0 $gap 0;

    @include lg {
      margin: 0 $gap 0 0;
    }
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin mdp {
  @media (min-width: $mdp) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}
