$white: #fff;
$black: #000;
$text-primary: #404854;
$text-secondary: #696969;
$footer-bg-color: #f8f9fa;
$stats-bg-color: #6495ed;
$testimonials-bg-color: #483d8b;
$card-shadow: rgba($black, 0.3);

$content-max-width: 68rem;
$sm: 640px;
$md: 768px;
$mdp: 940px;
$lg: 1024px;
$xl: 1280px;
$dxl: 1536px;
