@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?rthw7w');
  src: url('fonts/icomoon.eot?rthw7w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rthw7w') format('truetype'),
    url('fonts/icomoon.woff?rthw7w') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text:before {
  content: '\e922';
}
.icon-file-text2:before {
  content: '\e926';
}
.icon-folder-open:before {
  content: '\e930';
}
.icon-phone:before {
  content: '\e942';
}
.icon-location:before {
  content: '\e947';
}
.icon-compass:before {
  content: '\e949';
}
.icon-users:before {
  content: '\e972';
}
.icon-cog:before {
  content: '\e994';
}
.icon-trophy:before {
  content: '\e99e';
}
.icon-embed2:before {
  content: '\ea80';
}
.icon-google-plus:before {
  content: '\ea8b';
}
.icon-facebook:before {
  content: '\ea90';
}
.icon-instagram:before {
  content: '\ea92';
}
.icon-twitter:before {
  content: '\ea96';
}
.icon-dribbble:before {
  content: '\eaa7';
}
.icon-linkedin2:before {
  content: '\eaca';
}
.icon-menu:before {
  content: '\e9bd';
}
.icon-cross:before {
  content: '\ea0f';
}
