@use "fonts.css";
@use "normalize";

@use "utils" as *;
@use "layout/header";
@use "layout/section";

:root {
  --h-bg-btn: 0;
  --s-bg-btn: 98%;
  --l-bg-btn: 49%;
  --stat-item-gap: 1rem;
  --team-photo-size: 13rem;
  --blog-items-margin: 2rem;
}

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.button {
  display: inline-block;
  border-radius: 3rem;
  text-align: center;
  padding: 0.9rem 2.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  color: $white;
  background-color: hsl(var(--h-bg-btn), var(--s-bg-btn), var(--l-bg-btn));

  &--primary {
    --h-bg-btn: 199;
  }

  &--secondary {
    --h-bg-btn: 295;
  }

  &:hover {
    --hue: calc(var(--h-bg-btn) + 10);
    background-color: hsl(var(--hue), var(--s-bg-btn), var(--l-bg-btn));
  }
}

.hero {
  max-width: 87rem;
  height: 80%;
  margin: 3rem auto auto;
  padding: 0 2rem;

  &__desc {
    text-align: center;

    @include lg {
      text-align: left;
      margin-left: 4rem;
      animation: fadeIn ease-out 850ms forwards;
    }
  }

  &__image {
    display: none;
    width: 50vw;
    height: 75vh;
    object-fit: contain;

    @include lg {
      display: block;
      animation: fadeOut ease-out 850ms forwards;
    }
  }

  &__title {
    font-size: clamp(2.75rem, 2.5vw + 1.125rem, 4.25rem);
    font-weight: bold;
    line-height: clamp(3rem, 4vw + 1.125rem, 5.5rem);
    letter-spacing: 0.2rem;

    strong {
      color: #f033b5;
    }
  }

  p {
    font-size: clamp(0.9rem, 0.8vw + 0.45rem, 1.2rem);
    line-height: clamp(1.5rem, 1vw + 0.85rem, 2rem);
    margin: 2.5rem 0 3.5rem 0;
    color: $white;

    @include lg {
      padding-right: 3rem;
    }
  }
}

.main {
  width: 100%;
}

.features {
  margin-top: 4rem;

  @include lg {
    margin-top: 8rem;
  }
}

.feature {
  @extend .flex-col;
  @include custom-gap(3rem);

  align-items: center;
  cursor: pointer;

  &__circle {
    @include circle(5.5rem);

    position: relative;
    display: block;
    background-color: hsl(var(--h-bg-btn), var(--s-bg-btn), var(--l-bg-btn));

    &--primary {
      --h-bg-btn: 199;
    }

    &--secondary {
      --h-bg-btn: 295;
    }

    &--gray {
      --h-bg-btn: 225;
      --s-bg-btn: 1%;
    }

    &--yellow {
      --h-bg-btn: 50;
    }

    i {
      @include absolute-center;

      font-size: 2rem;
      color: $white;
      z-index: 10;
    }
  }

  &:hover &__circle::after {
    @include circle(5.5rem);
    @extend .absolute;

    content: "";
    z-index: 1;
    background-color: hsl(var(--h-bg-btn), var(--s-bg-btn), var(--l-bg-btn));
    animation: pulse 1200ms infinite;
  }

  &__description {
    margin-top: 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $text-primary;
    text-align: center;
  }
}

.statistic {
  @include lg {
    justify-content: start;
  }

  &__item {
    @extend .flex-col;

    &:not(:last-of-type) {
      margin-right: var(--stat-item-gap);

      @include sm {
        --stat-item-gap: 2rem;
      }

      @include lg {
        --stat-item-gap: 4rem;
      }
    }
  }

  &__value {
    display: block;
    font-size: 1.5rem;
    color: $white;
    margin: 0.5rem 0;

    @include sm {
      font-size: 2rem;
    }
  }

  &__description {
    font-size: 0.9rem;
    color: $white;

    @include sm {
      font-size: 1rem;
    }
  }

  i {
    font-size: 2rem;
    color: $white;

    @include sm {
      font-size: 2.5rem;
    }
  }
}

.projects-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.project {
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &__img {
    @extend .size-full;

    object-fit: cover;
    transition: transform 0.5s ease;
  }

  &__description {
    @extend .flex-center, .size-full, .absolute;

    display: none;
    background-color: rgba($black, 0.6);
    color: $white;
  }

  &:hover &__description {
    display: flex;
  }

  &:hover &__img {
    transform: scale(1.1);
  }

  @media (min-width: $md) {
    &:first-child {
      grid-row: span 2;
      grid-column: span 2;
    }
  }

  @media (min-width: $xl) {
    &--second {
      grid-column: span 2;
    }
  }
}

.member {
  @extend .flex-col;
  @include custom-gap(4rem);

  align-items: center;

  &__photo {
    display: block;
    margin-bottom: 2rem;
    width: var(--team-photo-size);
    height: var(--team-photo-size);
    border-radius: 50%;

    @include lg {
      --team-photo-size: 16rem;
    }
  }

  &__name {
    display: block;
    font-size: 1.5rem;
    color: $text-primary;
  }

  &__position {
    display: block;
    font-size: 1rem;
    color: $text-secondary;
    margin: 0.75rem 0;
  }

  &__social {
    @extend .flex-row;

    justify-content: space-around;
    margin: 0 auto;
  }
}

.carousel {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.testimonials-slider {
  display: flex;
  flex-shrink: 0;
  margin-top: 2rem;
  width: 300%;
  transition: all 900ms;

  li {
    @extend .flex-col;

    width: 30%;
    flex: 1 0 30%;
    text-align: center;

    blockquote {
      color: $white;
      font-size: 1.15rem;
      font-style: italic;
      line-height: 2rem;
    }

    .person {
      &__name {
        --h-bg-btn: 39;

        display: block;
        font-size: 1.25rem;
        color: hsl(var(--h-bg-btn), var(--s-bg-btn), var(--l-bg-btn));
        margin: 3rem 0 0.5rem 0;
      }

      &__company {
        font-size: 0.9rem;
        color: $white;
      }
    }
  }
}

.blog__items {
  margin-top: var(--blog-items-margin);

  @include mdp {
    flex-direction: row;
    --blog-items-margin: 3.5rem;
  }

  @include lg {
    --blog-items-margin: 5rem;
  }
}

.blog {
  &__item {
    @include custom-gap(2rem);

    border-radius: 1rem;
    box-shadow: 1px 1px 5px $card-shadow;
    max-width: 35rem;
    cursor: pointer;

    @include mdp {
      width: 30%;

      &:not(:last-of-type) {
        margin: 0 2rem 0 0 !important;
      }
    }

    &:hover {
      animation: scrollTop ease-out 300ms forwards;
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    width: 100%;

    @include mdp {
      height: 12rem;
    }

    @include lg {
      height: 15rem;
    }
  }

  &__main {
    padding: 2rem;
  }

  time {
    --h-bg-btn: 295;

    color: hsl(var(--h-bg-btn), var(--s-bg-btn), var(--l-bg-btn));
    font-size: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    color: $text-primary;
    margin: 0.5rem 0;
  }

  &__description {
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  &__author {
    font-size: 1rem;
    color: $text-primary;
    font-style: italic;
  }
}

.social__icons li {
  position: relative;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 2.5rem;
  }

  i {
    color: #3b3b3b;
    font-size: 1rem;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
  }

  &:hover::before {
    --h-bg-btn: 215;
    @include circle(2rem);
    @include absolute-center;

    background-color: hsl(var(--h-bg-btn), var(--s-bg-btn), var(--l-bg-btn));
  }

  &:hover i {
    color: $white;
  }
}

.contact {
  &__item {
    @extend .flex-row, .justify-center;

    @include lg {
      justify-content: start;
    }

    margin-bottom: 2rem;

    i {
      --h-bg-btn: 199;

      margin-right: 1rem;
      font-size: 1.5rem;
      color: hsl(var(--h-bg-btn), var(--s-bg-btn), var(--l-bg-btn));
    }

    address {
      font-style: normal;
      display: inline;
    }
  }

  &__map {
    object-fit: cover;
    border: 3px solid rgba($text-secondary, 0.25);
    border-radius: 1rem;
    max-width: 100%;
    padding: 0.5rem;

    &:hover {
      animation: zoomIn ease-out 1s forwards;
    }
  }
}

.footer {
  background-color: $footer-bg-color;
  padding: 2.5rem 1.5rem;

  @include lg {
    padding: 4rem 1rem;
  }

  &__content__wrapper {
    justify-content: space-between;
    max-width: $content-max-width;
    margin: 0 auto;
    align-items: center;
  }

  &__social {
    margin-bottom: 2rem;

    @include lg {
      margin-bottom: 0;
    }

    ul {
      flex-wrap: wrap;

      li i {
        color: $text-secondary;
      }
    }
  }

  &__copyright {
    text-align: center;

    @include lg {
      text-align: right;
    }

    span {
      font-size: 0.9rem;
    }
  }
}
